/* ==UserStyle==
@name           Special Toot Button
@namespace      MagicLike
@version        1.1
@description    A small CSS snippet that changes the "Publish!" button to something very special when you hover over it.
@author         MagicLike <contact@magiclike.net> (https://magiclike.net), andr3
@homepageURL    https://codeberg.org/MagicLike/Special-Toot-Button
@supportURL     https://codeberg.org/MagicLike/Special-Toot-Button/issues
@updateURL      https://codeberg.org/MagicLike/Special-Toot-Button/special-toot.user.css
@license        MIT
==/UserStyle== */

@-moz-document domain("mstdn.social"),
domain("masto.ai"),
domain("mastodon.social"),
domain("mastodon.online"),
domain("mastodon.coffee"),
domain("brands.town"),
domain("social.vivaldi.net"),
domain("mastodon.art"),
domain("tech.lgbt"),
domain("mastodon.lol"),
domain("floss.social"),
domain("mas.to"),
domain("fosstodon.org"),
domain("meow.social"),
domain("indieweb.social"),
domain("catcatnya.com"),
domain("mastodon.scot"),
domain("astronomy.social"),
domain("octodon.social"),
domain("hessen.social"),
domain("chaos.social"),
domain("tilde.zone"),
domain("troet.cafe"),
domain("norden.social"),
domain("mastodon.world"),
domain("infosec.exchange"),
domain("mastodon.xyz"),
domain("social.tchncs.de"),
domain("ieji.de"),
url-prefix("mstdn"),
url-prefix("masto"),
url-prefix("mastodon") {

    .compose-form__publish-button-wrapper button,
    .compose-form__publish-button-wrapper button::before {
        transition: color 0.5s;
    }

    .compose-form__publish-button-wrapper button::before {
        content: "🐘💨";
        position: absolute;
        top: 50%;
        left: 50%;
        color: rgba(255, 255, 255, 0);
        transform: translate3d(-50%, -50%, 0);
        text-shadow: none;
    }

    .compose-form__publish-button-wrapper button:hover,
    .compose-form__publish-button-wrapper button:focus {
        color: rgba(255, 255, 255, 0);
        text-shadow: none;
    }

    .compose-form__publish-button-wrapper button:hover::before,
    .compose-form__publish-button-wrapper button:focus::before {
        color: rgba(255, 255, 255, 1);
    }

}